# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Ambientes e variáveis
.env
backend/.env
frontend/.env
*.env

# Node / Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Documentos de teste / uploads locais
backend/documents/

# Sistema / Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log